<h1>Login to your account</h1>

<form action="/login" method="post">
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email">
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="text" id="password" name="password">
  </div>
  <input type="submit" value="Submit">
</form>

<p>{{info}}</p>


